<ul>
  <li><a href="/users"> Users </a></li>
  <li><a href="/photos"> Photos </a></li>
</ul>

<h1> Photo Details</h1>

<p>Image</p>
<img src="<%=@find_photo.image%>">

<p>Caption</p>
<p><%=@find_photo.caption%>

<p>Owner</p>
<p><%=@owner.username%>

<p>Posted</p>
<p><%=@find_photo.created_at%></p>

<p>Edit photo</p>
  <form action="/photos/<%=@find_photo.id%>/update_photo">
  <label id="edit_photo">Image</label>
  <input id="edit_photo" name="new_link" value="<%=@find_photo.image%>">
  <label id="caption_edit">Caption</label>
  <input id="caption_edit" name="new_caption" value="<%=@find_photo.caption%>">
  <button>Update photo</button>
  </form>
