<ul>
  <li><a href="/users"> Users </a></li>
  <li><a href="/photos"> Photos </a></li>
</ul>

<h1> Photo Details</h1>

<p>Image</p>
<img src="<%=@find_photo.image%>">

<p>Caption</p>
<p><%=@find_photo.caption%>

<p>Owner</p>
<p><%=@owner.username%>

<p>Posted</p>
<p><%=@find_photo.created_at%></p>

<p>Edit photo</p>
  <form action="/photos/<%=@find_photo.id%>/update_photo" method="POST">
  <label for="edit_photo">Image</label>
  <input id="edit_photo" name="new_link" value="<%=@find_photo.image%>">
  <label for="caption_edit">Caption</label>
  <textarea id="caption_edit" name="new_caption" ><%=@find_photo.caption%></textarea>
  <button>Update photo</button>
  </form>

<p>Delete photo</p>
  <a href="/photos/<%=@find_photo.id%>/delete_photo">Delete this photo </a>

<h2> Comments </h2>

<table>
<tr>
  <th>Commenter</th>
  <th>Comment</th>
  <th>Posted</th>

  </tr> 

  <%@comments.each do |comment|%>
  <tr>
    <td><%@author=comment.author_id%>
    <%=User.where(:id=>@author).first.username%>
    </td>
    <td><%=comment.body%></td>
    <td><%=comment.created_at%></td>
  <%end%>
</table>

<h2> Add a new comment </h2>
<form action="/photos/<%=@photo_id%>/new_comment" method="post">
<label for="photoid">Photo ID</label>
<input id="photoid" name="photoid" type="text" value="<%=@photo_id%>">

<label for="authorid">Author ID</label>
<input id="authorid" name="authorid" type="text" placeholder="Enter your author ID">

<label for="comment">Comment</label>
<textarea id="comment" name="comment" type="text" placeholder="Enter a comment..."></textarea>
<button> Add comment</button>
</form>
