<ul>
  <li><a href="/users"> Users </a></li>
  <li><a href="/photos"> Photos </a></li>
</ul>



<h1> <%=@user.username%> </h1>

<p>ID</p>
<p> <%=@user.id%></p>

<p> Edit user</p>
<form action="/<%=@user.username%>/update_user" method="post">
  <label name="username"> Username </label>
  <input id="username" name="update_username" value="<%=@user.username%>">
  <button> Update user</button>
</form>

<h2> Own photos (<%=@user_photos_count%>)</h2>

<!--start table here-->

<table border="1px">
  <tbody>
    <tr>
      <th> Image </th>
      <th> Owner </th>
      <th> Caption </th>
      <th> Posted </th>
      <th></th>
    </tr>
   <%@user_photos.each do |photo|%>
   <tr>

    <td>
      <img src="<%=photo.image%>">
    </td>

    <td>
      <%=@user.username%>
    </td>

    <td>
      <%=photo.caption%>
    </td>

    <td>
      <%=photo.created_at%>
      </td>

    <td>
    <a href="/photos/<%=photo.id%>"> Show details </a>
    </td>

    </tr>
    <%end%>
  </tbody>
 </table>
